<div class="container">
  <div class="row">
    <h2>Welcome to Scrapbook</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        Please log in with one of your following accounts.
      </div>
      <div class="panel-body">
        <a href="/auth/instagram">
          <span class="btn btn-primary">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            Login with Instagram
          </span>
        </a>
        <a href="/auth/github">
          <span class="btn btn-primary">
            <i class="fa fa-github" aria-hidden="true"></i>
            Login with GitHub
          </span>
        </a>
        <a href="/auth/twitter">
          <span class="btn btn-primary">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Login with Twitter
          </span>
        </a>
        <a href="/auth/spotify">
          <span class="btn btn-primary">
            <i class="fa fa-spotify" aria-hidden="true"></i>
            Login with Spotify
          </span>
        </a>
      </div>
    </div>
  </div>
</div>