<section class="col-sm-6 col-md-4">

  <div class="panel panel-default">
    <div class="panel-heading">Please Login</div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ facebookPath }}" class="btn btn-primary">Facebook</a></li>
      <li class="list-group-item"><a href="{{ githubPath }}" class="btn btn-primary">GitHub</a></li>
      <li class="list-group-item"><a href="{{ twitterPath }}" class="btn btn-primary">Twitter</a></li>
    </ul>
  </div>

</section>
