<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-heading">
      <div class="navbar-brand">Passport Scrapbook</div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#if currentUser}}
      <li>
        <a href="/session/logout">Log Out</a>
      </li>
      {{/if}}
    </div>
  </div>
</div>
