<div class="container-fluid">
  <div class="row">
    <h2>{{displayName}}<h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Facebook Picture</h3>
      <img src="{{picture}}" alt="">
    </div>
    <div class="col-sm-4">
      <h3>Linkedin Summary</h3>
      <p>{{summary}}</p>
  </div>
</div>
