<div class="row">
	<div class="col-md-6">
		{{>_update-panel}}

	</div>
	<div class="col-md-6">
{{!--   {{>_panel title="Passport Status"}} --}}
	</div>
</div>
{{!-- <div class="row">
	<div class="col-md-6">

	</div>
	<div class="col-md-6">

	</div>
</div> --}}

