<h1>Home page</h1>

<form action="/auth/facebook" method="get">
	<button class="btn btn-primary">Login With Facebook</button>
</form>

</br>
<form action="/auth/linkedin" method="get">
	<button class="btn btn-success">Login With LinkedIn</button>
</form>
