<section class="col-sm-6 col-md-4">

  <div class="panel panel-default">
    <div class="panel-heading">Passport Status</div>
    <ul class="list-group">
    	{{#if user.facebook}}
      	<li class="list-group-item">Facebook connected!</li>
      {{else}}
      	<li class="list-group-item"><a href="{{ facebookPath }}" class="btn btn-primary">Facebook</a></li>
      {{/if}}
      <li class="list-group-item">Facebook</li>
      <li class="list-group-item">Facebook</li>
      <li class="list-group-item">Facebook</li>
      <li class="list-group-item">Facebook</li>
    </ul>
  </div>

</section>

<section class="col-sm-6 col-md-4">

  <div class="panel panel-default">
    <div class="panel-heading">Facebook</div>
    <ul class="list-group">
      <li>???????</li>
    </ul>
  </div>

</section>