<div class="container">
  <div class="row">
<div class="col-xs-4 col-xs-offset-1 panel panel-primary">
  <div class="panel-heading">
    <h3>Update Account</h3>
  </div>


  <div class="panel-body">

  </div>
</div>

  <div class="col-xs-4 col-xs-offset-1 panel panel-primary">
    <div class="panel-heading">
      <h3>Passport Status</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tbody>
        <tr>
          <td><h4>Facebook</h4></td>
          <td><form action="/auth/facebook" method="get"><button class="btn btn-success">Connect</button></form></td>
        </tr>
        <tr>
          <td><h4>Twitter</h4></td>
          <td><form action="/auth/twitter" method="get"><button class="btn btn-success">Connect</button></form></td>
        </tr>
        <tr>
          <td><h4>Github</h4></td>
          <td><form action="/auth/github" method="get"><button class="btn btn-success">Connect</button></form></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-4 col-xs-offset-1 panel panel-primary">
    <div class="panel-heading">
      <h3>Facebook</h3>
    </div>
    <div class="panel-body">
      {{#each user.images as |image|}}
        {{log image}}
        <img src="{{image.value}}" />
      {{/each}}
    </div>
  </div>

  <div class="col-xs-4 col-xs-offset-1 panel panel-primary">
    <div class="panel-heading">
      <h3>Twitter</h3>
    </div>
    <div class="panel-body">

    </div>
  </div>
</div>
</div>
