<a href="/auth/facebook" class="btn btn-success">Connect Facebook</a>
<a href="/auth/twitter" class="btn btn-success">Connect Twitter</a>
<div class="panel">
{{#each photos.data as |photo|}}
  <img src="{{ photo.picture}}">
{{/each}}
</div>
