THis is a webpage

<a href="/auth/facebook">
  <span class="btn btn-primary">
    Login with Facebook
  </span>
</a>
<a href="/auth/tumblr">
  <span class="btn btn-primary">
    Login with Tumblr
  </span>
</a>
<a href="/auth/reddit">
  <span class="btn btn-primary">
    Login with Reddit
  </span>
</a>

<!-- use panels for each section later  -->


<form action="/login" method="post">

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
