<div class="row">
  <a href="/auth/facebook">
    <span class="btn btn-primary">Login with Facebook</span>
  </a>
</div>
<hr>
<div class="row">
  <a href="/auth/twitter">
    <span class="btn btn-primary">Login with Twitter</span>
  </a>
</div>
<hr>
<div class="row">
  <a href="/auth/github">
    <span class="btn btn-primary">Login with GitHub</span>
  </a>
</div>
<hr>
<div class="row">
  <a href="/auth/spotify">
    <span class="btn btn-primary">Login with Spotify</span>
  </a>
</div>
