<section class="container" id="login-buttons">
  <a href="/auth/google" class="btn-si btn-si-a btn-google"><span class="button-text">Sign in with Google</span></a>
  <a class="btn-si btn-si-a btn-github"><span class="button-text">Sign in with GitHub</span></a>
  <a class="btn-si btn-si-a btn-linkedin"><span class="button-text">Sign in with LinkedIn</span></a>
  <a class="btn-si btn-si-a btn-instagram"><span class="button-text">Sign in with Instagram</span></a>
  <a href="#" class="btn-si btn-si-a btn-slack"><span class="button-text">Sign in with Slack</span></a>
</section>
