<div style="margin-top: 200px;" class="col-xs-4 col-xs-offset-4 panel panel-primary">
  <div class="panel-heading">
    <h3 style="text-align: center;">Login</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td><h4>Facebook</h4></td>
        <td><form action="/auth/facebook" method="get"><button class="btn btn-success">Connect</button></form></td>
      </tr>
      <tr>
        <td><h4>Twitter</h4></td>
        <td><form action="/auth/twitter" method="get"><button class="btn btn-success">Connect</button></form></td>
      </tr>
      <tr>
        <td><h4>Github</h4></td>
        <td><form action="/auth/github" method="get"><button class="btn btn-success">Connect</button></form></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
