<h1>Hello Express!</h1>

<div class="panel-body">

  <form action="/login" method="post">
    <div class="form-group">
      <input type="text" name="email" value="" placeholder="email" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" name="password" value="" placeholder="password" class="form-control">
    </div>
    <input type="submit" value="Register" class="btn btn-default">
  </form>

</div>


<div name = "passport_status"></div>
<div class="card">
    <h3 class="card-header primary-color white-text">Featured</h3>
    <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary">Go somewhere</a>
    </div>
</div>
